extends main

block body
    div(id="form-container")
        div(id="heading")
            block heading
        div(id="content")
            block content

block scripts
    script(src="/js/jquery.validate.min.js")
    script(src="/js/validation.js")