extends layouts/main

block body
    div
        p This website was made as a part of our second year team project.
        <div class="container">
            <div class="about">
                <div class="text">
                    h2 About us
                    <div class="line">
        <div class="content">
            p2 SoundTube is a 
    