extends layouts/main

block body
    section#Contact
        div(class="row" id="header")
            img(class="float-left" src="/images/Contact_us/Lez.jpg" width="180")
            h4  Jordan Quinlan is our managing director. He looks after any updates and has the final say on any decisions to be made going forward.
        div(class="row" id="header")
            img(class="float-left" src="/images/Contact_us/Sassie.jpg" width="180")
            h4  Ciaran Dempsey is our sales manager. He tracks the popular/dead times of the site along with views and activity of the site. 
        div(class="row" id="header")
            img(class="float-right" src="/images/Contact_us/Clarence.jpg" width="180")
            h4   Ross Buckley manages the HR needs. He attends any meetings, review budgets and other HR operations. 
        