extends layouts/main

block body
    section#about
        div(class="staff")
            img( src="/images/about-us/lez.jpg")
            span Jordan Quinlan is our managing director. He looks after any updates and has the final say on any decisions to be made going forward.
        div(class="staff")
            img(src="/images/about-us/sassie.jpg")
            span  Ciaran Dempsey is our sales manager. He tracks the popular/dead times of the site along with views and activity of the site. 
        div(class="staff")
            img(src="/images/about-us/clarence.jpg")
            span   Ross Buckley manages the HR needs. He attends any meetings, review budgets and other HR operations. 
        