extends layouts/main

block body
    div
        h2 Contact us
        p If you would like to contact us then send us an email at support@soundtube.ie
    
    
    form(id="login-form" class="validation-form" method="post" action="/u/login")
        div.form-group
            label(for="Your name") Your name
            input(type="text" class="form-control" name="YourName" id="YourName" placeholder="YourName")
        div.form-group
            label(for="Your email") Email address
            input(type="text" class="form-control" name="email" id="email" placeholder="email")
        div.form-group
            label(for="Text box") Message
            input(type="text" class="form-control" name="Message" id="Message" placeholder="Message") 
        button(class="submit" type="submit" class="btn btn-success") Submit