extends layouts/validation

block heading
    h1#title Contact Us
    p If you would like to contact us then fill out this form or send us an email at support@soundtube.ie. We will try to get back to you within two working days.
    
block content
    form(id="contact-form" method="post" action="/contact-us")
        div.form-group
            label(for="name") Name
            input(type="text" class="form-control" name="name" id="name" placeholder="Name")
        div.form-group
            label(for="email") Email
            input(type="text" class="form-control" name="email" id="email" placeholder="Email")
        div.form-group
            label(for="message") Message
            input(type="text" class="form-control" name="message" id="message" placeholder="Message") 
        button(class="submit" type="submit" class="submit btn btn-primary") Submit