extends layouts/main

block body
    section#profile
        div#header
            div#picture
                if profile_pic
                    img(src=profile_pic)
                else
                    img(src="/images/avatars/default.jpg" width="180")
            div#title
                if stage_name
                    h1= username
                        span= " (" + stage_name + ")"
                else
                    h1= username
    section
    aside