extends layouts/validation

block heading
    h1#title Purchase Ad
    p Please fill in our advertisment form and we will get back to you within two working days

block content
    form(id="ad-form" method="post" action="/purchase-ad")
        div.form-group
            label(for="username") Full Name
            input(type="text" class="form-control" name="name" id="name" placeholder="Full Name")
        div.form-group
            label(for="Company") Company
            input(type="text" class="form-control" name="company" id="company" placeholder="Company")
        div.form-group
            label(for="Email") Email
            input(type="text" class="form-control" name="email" id="email" placeholder="Email")
        div.form-group
            label(for="description") Advertisement Description
            input(type="text" class="form-control" name="description" id="description" placeholder="Advertisement Description")
        button(class="submit" type="submit" class="btn btn-primary") Submit