// Modules and Variables
@import 'partials/base';

// Main CSS
body {
    padding: 0;
    margin: 0;
    background: $bg-body;
    color: $font-main;
    font-size: 18px;
    font-family: Rubik, Helvetica, sans-serif;
    //font-family: Arial, Helvetica, sans-serif;
}
footer {
    width: 100%;
    height: auto;
    background-color: #333;
    color: blue;
    font-size: 23px;
    text-align: center;
    line-height: 50px;
}
// Partials (CSS components are organized into separate files)
// Comments surrounding the import are CSS comments therefore appear in the generated stylesheet

/* Header CSS */
@import 'partials/header';
/* Header End */

/* Main Content CSS */
@import 'partials/main';
/* Main Content End */

/* Alerts CSS */
@import 'partials/alerts';
/* Alerts End */

/* Ads CSS */
@import 'partials/ads';
/* Ads End */

/* Forms CSS */
@import 'partials/forms';
/* Forms End */

/* Profile CSS */
@import 'partials/profile';
/* Profile End */

/* 404 Error CSS */
@import 'partials/error';
/* 404 Error End */

/* About CSS */
@import 'partials/about';
/* About End */

/* Contact Us CSS */
@import 'partials/contact-us';
/* Contact Us End */

/* Purchase Ad CSS */
@import 'partials/purchase-ad';
/* Purchase Ad End */

/* Media CSS */
@import 'partials/media';
/* Media End */

/* My Media CSS */
@import 'partials/my-media';
/* My Media End */

/* Upload Media CSS */
@import 'partials/upload-media';
/* Upload Media End */

/* Search CSS */
@import 'partials/search';
/* Search End */
