// Modules and Variables
@import 'partials/base';

// Main CSS
body {
    padding: 0;
    margin: 0;
    background: $bg-body;
    color: $font-main;
    font-size: 18px;
    font-family: Rubik, Helvetica, sans-serif;
    //font-family: Arial, Helvetica, sans-serif;
}

// Partials (CSS components are organized into separate files)
// Comments surrounding the import are CSS comments therefore appear in the generated stylesheet

/* Header CSS */
@import 'partials/header';
/* Header End */

/* Main Content CSS */
@import 'partials/main';
/* Main Content End */

/* Alerts CSS */
@import 'partials/alerts';
/* Alerts End */

/* Ads CSS */
@import 'partials/ads';
/* Ads End */

/* Forms CSS */
@import 'partials/forms';
/* Forms End */

/* Profile CSS */
@import 'partials/profile';
/* Profile End */

/* 404 Error CSS */
@import 'partials/error';
/* 404 Error End */
