extends validation-layout

block validation-heading
    h1#title Log In
    hr

block validation-content
    form(id="login-form" class="validation-form" method="post" action="/login")
        div.form-group
            label(for="username") Username
            input(type="text" class="form-control" name="username" id="username" placeholder="Username")
        div.form-group
            label(for="password") Password
            input(type="password" class="form-control" name="password" id="password" placeholder="Password")
        button(class="submit" type="submit" class="btn btn-primary") Submit