block variables
doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

		link(rel="stylesheet" href="../static/bootstrap.min.css")
		link(rel="stylesheet" href="../static/style.css")

		title #{title} | SoundTube
	body
		header
			nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
				a(class="navbar-brand" href="/") SoundTube
				ul(class="navbar-nav mr-auto mt-2 mt-lg-0")
					li.nav-item
						a(class="nav-link" href="/") Home
					li.nav-item
						a(class="nav-link" href="/edit-profile") Edit Profile
				form.form-inline
					input(class="form-control mr-sm-2" type="search" placeholder="Search")
					button(class="btn btn-outline-info my-2 my-sm-0" type="submit") Search
				if logged_in
					a(class="btn btn-outline-danger ml-2" href="/log-out") Log Out
				else
					a(class="btn btn-outline-info ml-2" href="/login") Log In
					a(class="btn btn-outline-info ml-2" href="/register") Register
						
		main(class="container p-5")
			if response
				div(class="alert alert-danger alert-dismissable fade show" role="alert")
					span= response
					button(type="button" class="close" data-dismiss="alert" aria-label="Close")
						span(aria-hidden="true") &times;
			block layout-content
		script(src="../static/jquery-3.4.1.min.js")
		script(src="../static/bootstrap.min.js")
		block scripts