extends validation-layout

block validation-heading
    h1#title Register
    hr

block validation-content
    form(id="register-form" class="validation-form" method="post" action="/register")
        div.form-group
            label(for="username") Username
            input(type="text" class="form-control" name="username" id="username" placeholder="Username")
            small(id="usernameHelpBlock" class="form-text text-muted") Your username must be 4-24 characters long.
        div.form-group
            label(for="email") Email
            input(type="email" class="form-control" name="email" id="email" placeholder="johndoe@email.com")
        div.form-group
            label Date of Birth
            div.form-row
                div.col-md-4
                    select(class="custom-select" name="day")
                        - var num = 1;
                        while num <= 31
                            option(value=num)= num++
                div.col-md-4
                    select(class="custom-select" name="month")
                        - var num = 1;
                            while num <= 12
                                option(value=num)= num++
                div.col-md-4
                    select(class="custom-select" name="year")
                        - var num = 2020;
                            while num >= 1920
                                option(value=num)= num--
        div.form-group
            label(for="password") Password
            input(type="password" class="form-control" name="password" id="password" placeholder="Password")
            small(id="passwordHelpBlock" class="form-text text-muted") Your password must be 6-32 characters long.
        div.form-group
            label(for="password-retype") Confirm Password
            input(type="password" class="form-control" name="password-retype" id="password-retype" placeholder="Password")
        button(class="submit" type="submit" class="btn btn-primary") Submit