extends validation-layout

block validation-heading
    h1#title Register
    if response
        div
            span#validation-response= response

block validation-content
    form(id="register-form" class="validation-form" method="post" action="/register")
        div.form-group
            label(for="username") Username
            input(type="text" class="form-control" name="username" id="username" placeholder="Username")
        div.form-group
            label(for="password") Password
            input(type="password" class="form-control" name="password" id="password" placeholder="Password")
        div.form-group
            label(for="password-retype") Confirm Password
            input(type="password" class="form-control" name="password-retype" id="password-retype" placeholder="Password")
        button(class="submit" type="submit" class="btn btn-primary") Submit