extends main-layout

block layout-content
    if response
        div(class="alert alert-danger")
            span#validation-response= response
    block validation-heading
    block validation-content

block scripts
    script(src="../static/jquery.validate.min.js")
    script(src="../modules/validation.js")