body {
    main.container {
        // Validation CSS
        span#validation-response {
            display: block;
            text-align: center;
            font-size: 1.4em;
        }

        div#form-container {
            width: 50%;
            margin: 0 auto;

            h1#title {
                text-align: center;
            }

            form.validation-form {
                label.error {
                    color: red;
                }

                button.submit {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        //
    }
}
