body {
    main.container {
        // Alerts
        div.alert {
            span {
                font-size: 1.3em;
            }
        }
        // Validation CSS
        div#form-container {
            width: 50%;
            margin: 0 auto;

            h1#title {
                text-align: center;
            }
        }

        form.validation-form {
            label.error {
                color: red;
            }

            button.submit {
                display: block;
                margin: 0 auto;
            }

            input#profile-pic {
                padding-left: 20px;
            }
        }
        //
    }
}
